*, ::after, ::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;

    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    background-color: #222 !important;
    background-image: url(noise.png);
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
main {
   
    display: flex;
    justify-content: center;
}
a {
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
}

.container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.link {
    width: 100%;
    margin: 7px 0;
    flex: 0 1 100%;
    min-height: 60px;
    text-align: center;
    
    
}
a {
    border: 2px solid #404040;
    padding: 7px 0;
    transition: border-color .2s ease-in;
}
.link:first-child a {
    background: none;
    border: none;
}
a:hover, a:focus {
    border-color: #ffcb08;
    outline: none;
}
.link:first-child a:hover, .link:first-child a:focus {
    outline: 2px solid white;
}
.inner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    white-space: normal;
}
a{
    height: 100%;
    width: 100%;
    
}
a > *{
padding: 0 15px;
}
.inner-text {
    width: 100%;
   margin-right: 50px;
    justify-self: center;
}
.link:last-child .inner-text{
    text-transform: none;
}
.link a{
    display: flex;
    align-items: center;
}

.svg img{
    width: 40px;
    padding-top: 1px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
    transition: all .2s ease-in;
}
a:hover .svg img, a:focus .svg img {
    filter: invert(74%) sepia(68%) saturate(622%) hue-rotate(350deg) brightness(103%) contrast(104%);

}
.dnc-hero {
    width: 272px;
    height: 48px;
}
.hero a, .hero{
    display: flex;
    justify-content: center;
}
@media (min-width: 800px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 820px;
    }
}