*, ::after, ::before {
    box-sizing: border-box;
}
html {
    min-height: 100%;
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    background-color: #eff2f7 !important;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
main {
   
    display: flex;
    justify-content: center;
}
a {
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
}

.container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.link {
    background-color: #7795f8;
    padding: 7px 0;
    margin: 7px 0;
    flex: 0 1 100%;
    min-height: 60px;
    text-align: center;
    border-radius: 3px;
    
}
.link:first-child {
    background: none;
}
.link:hover {
    opacity: 0.9;
}
.inner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    white-space: normal;
}
a{
    height: 100%;
    width: calc(100% - 50px);
    
}
a > *{
padding: 0 5px;
}
.inner-text {
    width: 100%;
}
.inner-text {
    justify-self: center;
}
.link:last-child .inner-text{
    text-transform: none;
}
.link a{
    display: flex;
    align-items: center;
}
.dnc-image img, .dnc-image a{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 0;
    margin: auto;
}
.dnc-image:hover {
    opacity: 1;
}
.svg img{
    width: 40px;
    padding-top: 1px;
}
@media (min-width: 990px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 820px;
    }
}